node_modules
node_modules
bin
obj/Debug/netcoreapp3.1/LiveTextStreaming.csprojAssemblyReference.cache
workspace.code-workspace
obj/Debug/netcoreapp3.0
obj/Debug/netcoreapp3.0/LiveTextStreaming.assets.cache
obj/Debug/netcoreapp3.0/LiveTextStreaming.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.0/LiveTextStreaming.assets.cache
obj/Debug/netcoreapp3.0/LiveTextStreaming.csprojAssemblyReference.cache
